<%- include("partials/header.ejs") %> 

    <div class="main" style="display: flex; flex-direction: column;">
        <div class="topic-title">
            <h2><%= _.capitalize(topicData.topicname) %></h2>
        </div>
        <div class="remove-topic-list"> 
        <form action="/deletequestion" method="post">
            <input type="text" style="visibility: hidden; height: 0; display: none;" name="rqi" value="<%= topicData.topicname %>"></input>
            <% topicData.content.forEach(function(item){ %>
                <div class="remove-question-set" style="margin: 2rem auto;">
                    <div><%= item.qname %></div>
                    <button style="border-radius: 14px;" name="qname" value="<%= item.qname%>">Remove   
                    </button>
                </div>
            <% }) %>
        </form>
        </div>
    </div>

<%- include("partials/footer.ejs") %>