<%- include("partials/header.ejs") %> 

<div class="main">
    <div class="question-list-title">
        <div class="question-topic-title">
            <h2><%= _.upperCase(topicData.topicname) %> (<%= topicData.content.length%>)</h2>
            <div class="question-buttons">
                <form action="/addquestion" method="post">
                    <button class="question-button-1" name="addq" value="<%= topicData.topicname %>">Add</button>
                </form>
            
                <form action="/removequestion" method="post">
                    <button class="question-button-2" name="rqb" value="<%= topicData.topicname %>">Remove</button>
                </form>
            </div>
        </div>
        <!-- <div class="question-table"> -->
            <table>
                <tr>
                    <th style="width: 20%;">sl no</th>
                    <th>q name</th>
                    <th style="width: 20%">link</th>
                    <th style="width: 20%">Notes</th>
                </tr>
                <% topicData.content.forEach(function(item){ %>
                    <tr>
                        <td style="width: 20%"><%= i %><% i++ %></td>
                        <td><%= item.qname %></td>
                        <td class="link" style="width: 20%;"><a href="<%= item.link %>" onClick="window.location.href='<%= item.link %>';">url</a></td>
                        <td class="link" style="width: 20%;"><a href="<%= item.link %>" onClick="window.location.href='<%= item.link %>';">url</a></td>
                    </tr>
                <%})%>
            </table>
        <!-- </div> -->
    </div>    
</div>


<%- include("partials/footer.ejs") %>