<%- include("partials/header.ejs") %> 

<div class="main">
    <div class="question-list-title">
        <div class="question-topic-title">
            <h2><%= _.upperCase(topicData.topicname) %> (<%= topicData.content.length%>)</h2>
            <div class="question-buttons">
                <form action="/addquestion" method="post">
                    <button class="question-button-1" name="addq" value="<%= topicData.topicname %>">Add</button>
                </form>
            
                <form action="/removequestion" method="post">
                    <button class="question-button-2" name="rqb" value="<%= topicData.topicname %>">Remove</button>
                </form>
            </div>
        </div>
        <!-- <div class="question-table"> -->
            <table>
                <tr>
                    <th style="width: 10%;">sl no</th>
                    <th>Question name</th>
                    <th style="width: 10%">link</th>
                    <!-- <th style="width: 20%">Articles</th> -->
                    <th style="width: 10%">Notes</th>
                </tr>
                <%var k = 0; topicData.content.forEach(function(item){ %>
                    <tr>
                        <td><%= i %><% i++ %></td>
                        <td><%= item.qname %></td>
                        <td class="link"><a href="<%= item.link %>" onClick="window.location.href='<%= item.link %>';"><i class="fa-solid fa-link link"></i></a></td>
                        <!-- <td class="link" style="width: 20%;"><a href="<%= item.link %>" onClick="window.location.href='<%= item.link %>';">url</a></td> -->
                        <td class="link"><a href="/addnote/<%=topicData.id%><%= k %>"role="button"><i class="fa-solid fa-note-sticky link"></i></a></td>
                    </tr>
                    <% k++ %>
                <%})%>
            </table>
        <!-- </div> -->
    </div>    
</div>


<%- include("partials/footer.ejs") %>