<%- include("partials/header.ejs") %>


<div class="user-main">
    <button class="mobile-nav-toggle"  aria-controls="menu" aria-expanded="false"><%= _.capitalize(nameOfUser.substring(0, 1)) %></button>
    <div data-visible="false" class="menu user-details h-class">
        <div class="greet">Hello <%= _.capitalize(nameOfUser.split(/\s/)[0]) %></div>
        <div class="user-actions">
            <form action="/practice" method="post">
                <button style="background-color: rgb(41 17 144); border: 1px red groove;" class="btn"><span style="color: red;">!!!</span>&nbsp;PRACTICE&nbsp;<span style="color: red;">!!!</span></button>
            </form>
            <form action="/profilestats" method="get">
                <button style="background-color: rgb(0, 101, 134);" class="btn">Profile stats</button>
            </form>
            <form action="/addtopic" method="get">
                <button style="background-color: rgb(0, 101, 134);" class="btn">Add topic</button>
            </form>
            <form action="/removetopic" method="get">
                <button style="background-color: rgb(0, 101, 134);" class="btn">Remove topic</button>
            </form>
            <form action="/changepassword" method="post">
                <button style=" background-color: rgb(79, 27, 0);" class="btn">change password</button>
            </form>
            <form action="/logout" method="post">
                <button style=" background-color: rgb(79, 27, 0);">Log Out</button>
            </form>
        </div>
    </div>
    <div class="major-topic-dropdown">
        <button class="dropbtn">Topics</button>
        <div class="dropdown-content">
          <% suggestedTopic.forEach(function(item){ %>
            <form action="/addtopicbysuggestion" method="post">
                <button name="topicvalue" value="<%= item %>"><%= _.capitalize(item) %></button>
            </form>
        <% }) %>
        </div>
    </div>
    <div style="margin: 0.2em 0em; font-size: 1.5rem;">
        <%= message %>
    </div>
    <div class="topics">
        <div class="topic-title">
            <h2>Your Topic names</h2>
        </div>
        <div class="topic-list">
            <% topics.forEach(function(item){ %>
                    <form action="/topicwiselist/<%= (item.topicname) %>" method="get">
                        <button class="topic-list-button"><%= _.capitalize(item.topicname) %> (<%= item.content.length%>)</button>
                    </form>
            <% }); %>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs") %>